.banner-content {

    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #FFF;
}

.banner-1st-line {
    
    font-size: 32px;
    font-weight: 400;

}

.banner-2nd-line,
.banner-3rd-line {
    
    font-size: 72px;
    font-weight: 900;

}

.header {
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.discount {
    text-align: center;
}

.discount-offer {
    color: #F00;

    text-align: center;
    /* font-family: Inter; */
    font-size: 88px;
    font-weight: 700;
}

.discount-session {
    color: #F00;

    text-align: center;
    /* font-family: Inter; */
    font-size: 24px;
    font-weight: 500;
}

.discount-categories {
    color: #070211;

    text-align: center;
    /* font-family: Inter; */
    font-size: 48px;
    font-weight: 700;
}

.new-year-img {
    fill: lightgray 50% / cover no-repeat;
    justify-content: center;
    width: 800px;
    height: 500px;
}

.header1 {
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;

}
.banner-content1{
    color: #FFF;
font-family: Merriweather;
}